<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.SystemAdminMapper">

   <resultMap type="systemAdmin" id="systemAdmin">
     <id column="id" jdbcType="INTEGER" property="id"/>
     <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
     <result column="password" jdbcType="VARCHAR" property="password"/>
     <result column="encrypt" jdbcType="VARCHAR" property="encrypt"></result>
   </resultMap>
  
   <select id="findByUserName"  parameterType="String" resultMap="systemAdmin">
      select id,login_name,password,encrypt from system_admin where login_name=#{userName}
   </select>
</mapper>
