<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.mapper.UserInfoMapper">
 
   <resultMap type="userInfo" id="userInfo">
     <id column="id" jdbcType="INTEGER" property="id"/>
     <result column="name" jdbcType="VARCHAR" property="name"/>
     <result column="password" jdbcType="VARCHAR" property="password"/>
   </resultMap>
  
	 <select id="findByUserName"  parameterType="String" resultMap="userInfo">
	    select * from user_info where name =#{name}
	  </select>
</mapper>

